{% extends "base_generic.html" %}
{% load bootstrap %}

{% block content %}
{% if whose == 'all' %}
    <h1>Список заявок</h1>

{% elif whose == 'user' %}
    <h1>Мои заявки</h1>

{% elif whose == 'past' %}
    <h1>Завершенные заявки</h1>
{% endif %}

<form method="get">
{{ filter.form }}
<!--    <script>-->
<!--    $(function () {-->
<!--      $("id_dtoriginal_0").datepicker();-->
<!--      $("id_dtoriginal_1").datepicker();-->
<!--    });-->
<!--  </script>-->
<button type="submit" class="btn btn-primary">Search</button>
</form>

{% if filter.qs %}
<p></p>
<div class="table-responsive-xxl">
<table class="table table-striped table-bordered" id="myTable">
   <tr class="header"><th>Номер заявки</th>
       <th>Тип</th>
       <th>Содержание</th>
       <th>Место</th>
       <th>Телефон</th>
       <th>Заявитель</th>
       <th>Исполнитель</th>
       <th>Время поступления</th>
       <th>Начало работы</th>
       <th>Завершение работы</th>
       <th>Состояние</th>
   </tr>
    {% for bid in filter.qs %}
   <tr>
       <td><a href="{{ bid.get_absolute_url }}">{{ bid.id }}</a></td>
       <td>{{ bid.get_type_bid_display }}</td>
       <td>{{ bid.text }}</td>
       <td>{{ bid.location }}</td>
       <td>{{ bid.telephone_num }}</td>
       <td>{{ bid.bider }}</td>
       <td>{{ bid.maker }}</td>
       <td>{{ bid.time_creation|date:"d.m.Y H:i" }}</td>
       <td>{{ bid.time_start|date:"d.m.Y H:i" }}</td>
       <td>{{ bid.time_done|date:"d.m.Y H:i" }}</td>
       <td>

           {% if bid.status == "a" %}<h4><span class="badge bg-primary">Принята
           <a class="btn btn-secondary btn-sm" href='{% url "bid-update" bid.pk %}' role="button"><i class="bi bi-pencil"></i></a></span></h4>
           {% endif %}

           {% if bid.status == "w" %}<h4><span class="badge bg-danger">В работе
           <a class="btn btn-secondary btn-sm" href='{% url "bid-update" bid.pk %}' role="button"><i class="bi bi-pencil"></i></a></span></h4>
           {% endif %}

           {% if bid.status == "f" %}<h4><span class="badge bg-success">Выполнено
           <a class="btn btn-secondary btn-sm" href='{% url "bid-update" bid.pk %}' role="button"><i class="bi bi-pencil"></i></a></span></h4>
           {% endif %}

       </td>
   </tr>
    {% endfor %}
</table>
</div>

    {% else %}
      <p>Заявок нет.</p>
    {% endif %}

{% endblock %}

