{% extends "base_generic.html" %}


{% block content %}
  {% if query %}

    {% for bid in results %}
<div class="card" style="width: 18rem;">

  <div class="card-body">
    <h5 class="card-title">Заявка # {{ bid.id }}</h5>
    <p class="card-text">{{ bid.text }}</p>
    <h4><a href="{{ bid.get_absolute_url }}" class="btn btn-primary">Перейти к заявке</a></h4>
  </div>
</div>


    {% empty %}
      <p>Заявок с таким номером нет.</p>
    {% endfor %}

    <input type="button" value="Новый поиск" onClick="location.href='{% url "bid-search" %}'">
  {% else %}
    <h1>Поиск заявок</h1>
    <form action="." method="get">
      {{ form.as_p }}
      <input type="submit" value="Поиск">
    </form>
  {% endif %}
{% endblock %}
