{% extends "base_generic.html" %}

{% block content %}


<script language="javascript" type="text/javascript">
var d = new Date();

var day=new Array("Воскресенье","Понедельник","Вторник",
"Среда","Четверг","Пятница","Суббота");

var month=new Array("января","февраля","марта","апреля","мая","июня",
"июля","августа","сентября","октября","ноября","декабря");

document.write(day[d.getDay()]+" " +d.getDate()+ " " + month[d.getMonth()]
+ " " + d.getFullYear() + " г.");
</script>
<div class="bd-content col-sm-6 my-md-4">
  <h3>Состояние работ:</h3>
<div class="row">
  <table class="table table-bordered border-info">
  <tr>
    <th>Исполнитель</th>
    <th>Заявок всего</th>
    <th>Заявок не начато</th>
    <th>Заявок в работе</th>
    <th>Заявок завершено</th>
  </tr>
  <tr>
    <td>ИТ служба</td>
    <td>{{ num_bids }}</td>
    <td>{{ num_bids_a }}{% if num_bids_a != 0 %} <span class="badge rounded-pill bg-primary">!</span> {% endif %}</td>
    <td>{{ num_bids_w }}{% if num_bids_w != 0 %} <span class="badge rounded-pill bg-danger">!</span> {% endif %}</td>
    <td>{{ num_bids_f }}</td>
  </tr>
    {% if user.is_authenticated and not perms.system.delete_bid %}
  <tr>
    <td>{{user.get_username}}</td>
    <td>{{ user_num_bids }}</td>
    <td>{{ user_num_bids_a }}{% if user_num_bids_a != 0 %} <span class="badge rounded-pill bg-primary">!</span> {% endif %}</td>
    <td>{{ user_num_bids_w }}{% if user_num_bids_w != 0 %} <span class="badge rounded-pill bg-danger">!</span> {% endif %}</td>
    <td>{{ user_num_bids_f }}</td>
  </tr>
    {% endif %}

    {% if perms.system.delete_bid %}
    {% for boy in all_users %}
    <tr>
    <td>{{ boy.0 }}</td>
    <td>{{ boy.1 }}</td>
    <td>{{ boy.2 }} {% if boy.2 != 0 %} <span class="badge rounded-pill bg-primary">!</span> {% endif %} </td>
    <td>{{ boy.3 }}{% if boy.3 != 0 %} <span class="badge rounded-pill bg-danger">!</span> {% endif %}</td>
    <td>{{ boy.4 }}</td>
    </tr>
    {% endfor %}
    {% endif %}
  </table>
</div>
</div>

{% if all_stickers %}
<div class="row row-cols-1 row-cols-md-3 g-4">
{% for sticker in all_stickers %}
<div class="col-sm-3">
<div class="card" style="width: 18rem;">

  <div class="card-body">
    <h5 class="card-title">Стикер # {{ sticker.id }}</h5>
    <p class="card-text">{{ sticker }}</p>
    {% if perms.system.delete_sticker %}
    <a href="{% url 'sticker-delete' sticker.pk %}" class="btn btn-primary">Удалить</a>
    {% endif %}
  </div>
</div>
</div>
{% endfor %}
</div>
{% else %}
      <p>Объявлений нет.</p>
{% endif %}
 <!--
  <table>
   <tr><th>Number</th><th>Text</th><th>Bider</th><th>Maker</th><th>Date of creation</th></tr>
   <tr><td>{{ one_bid.id }}</td><td>{{ one_bid.text }}</td><td>{{ one_bid.bider }}</td><td>{{ one_bid.maker }}</td><td>{{ one_bid.time_creation }}</td></tr>
  </table>
-->


{% endblock %}
